<header>
  <nav>
    <ul>
      <li><a href="/" class="<%= path==='/'?'active':'' %>">Shop</a></li>
      <li>
        <a href="/products" class="<%= path==='/products'?'active':'' %>"
          >Products</a
        >
      </li>
      <% if (isauthntivated) { %>
      <li>
        <a href="/cart" class="<%= path==='/cart'?'active':'' %>">Cart</a>
      </li>
      <li>
        <a href="/order" class="<%= path==='/order'?'active':'' %>">Order</a>
      </li>

      <li>
        <a
          href="/admin/add-product"
          class="<%= path==='admin/add/product'?'active':'' %>"
          >Add Product</a
        >
      </li>
      <li>
        <a
          href="/admin/product"
          class="<%= path==='/admin/product'?'active':'' %>"
          >Admin Product</a
        >
      </li>
      <% } %> <% if (!isauthntivated) { %>
      <!-- Add Login button here -->
      <li style="position: absolute; right: 110px">
        <a href="/login" class="<%= path==='login'?'active':'' %>">Login</a>
      </li>

      <li style="position: absolute; right: 15px">
        <a href="/signup" class="<%= path==='signup'?'active':'' %>">Sign Up</a>
      </li>

      <% } else {%>

      <li style="position: absolute; right: 15px">
        <form action="/logout" method="POST">
          <a href="#" onclick="this.closest('form').submit()">Logout</a>
        </form>
      </li>

      <% } %>
    </ul>
  </nav>
</header>
