<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    </head>

    <body>



        <%- include('../includes/header.ejs') %>

        <% if (products.length> 0) { %>
            <div class="container">
                <h1>Shopping Cart</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                           
                            <th>id</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        

                            <% for(const product of products){ %>
        

                                <tr>
                                    <td><%= product?.productId.title %></td>
                                    <td><%= product?.quantity %></td>
                                    <td>$<%= product?._id %></td> 
                                    <td>
                                      <form class="delete-form" action="/cart-delete" method="post">
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                        <button type="submit">Remove</button>
                                      </form>
                                    </td>
                                  </tr>
                        
                        <% } %>

                       
                    </tbody>
                </table>
                
                <div class="centered">
                    <form action="/create-order" method="post">
                        <button type="submit" >order</button>
                    </form>
                </div>
                
            </div>
            <% } else {%>
                <h1>Item Not Found</h1>
                <% } %>


                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      const forms = document.querySelectorAll('.delete-form');
                      forms.forEach(function(form) {
                        form.addEventListener('submit', function(event) {
                          event.preventDefault(); // Prevent the default form submission
                          const userConfirmed = confirm('Are you sure you want to proceed?');
                          if (userConfirmed) {
                            form.submit(); // Submit the form if the user confirms
                          }
                        });
                      });
                    });
                  </script>


            <%- include('../includes/end.ejs') %>